@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-color: #F7FAFD;
  --primary-color: #FFFFFF;
  --text-color: #283542;
  --secondary-text-color: #8193a6;
  --line-color: #d3d7db;
  --accent-color: #7C62FE;
  --hover-color: #bb80ff;
  --red-color: #dc2d3b;
}
.darkmode{
  --base-color: #070810;
  --primary-color: #0F111A;
  --secondary-color: #1D1E29;
  --text-color: #FFFFFF;
  --secondary-text-color: #6C7785;
  --line-color: #1D1E29;
  --accent-color: #7C62FE;
  --hover-color: #B196E0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: var(--base-color);
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--text-color);
}
.App{
  display: grid;
  grid-template-columns: 14rem 1fr;
}
.Sidebar{
  height: 100vh;
  border-right: 1px solid var(--primary-color);
  padding: .5em;
}
.Sidebar ul{
  display: flex;
  flex-direction: column;
}
.Sidebar .logo-li{
  padding: 1em 0 1em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#toggle-sidebar-button{
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sidebar a{
  padding: 1em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  border-radius: .5em;
  gap: .75em;
  transition: 100ms ease;
}
.Sidebar a:hover{
  background-color: var(--secondary-color);
}
.Sidebar .active{
  color: var(--accent-color);
}
.Sidebar .active svg{
  fill: var(--accent-color);
}
main{
  padding: min(50px, 8%);
}
h1{
  font-size: 2.25rem;
}
button{
  padding: 1em 2em;
  font: inherit;
  border: 1px solid var(--line-color);
  background: none;
  border-radius: 6px;
  color: var(--secondary-text-color);
  cursor: pointer;
  border: 1px solid var(--line-color);
  color: var(--secondary-text-color);
}
button:hover{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
button[disabled]:hover{
  background-color: var(--base-color);
  color: var(--secondary-text-color);
  cursor: not-allowed;
}
form{
  width: min(20em, 100%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input{
  padding: 1em;
  font: inherit;
  background-color: var(--primary-color);
  border: none;
  border-radius: .25em;
  color: var(--text-color);
  caret-color: var(--accent-color);
  transition: background-color 100ms ease;
  border: 1px solid var(--secondary-color);
}
input:hover{
  background-color: var(--secondary-color);
}
input:focus{
  outline: none;
  background-color: var(--secondary-color);
  border-color: var(--accent-color);
}
a{
  text-decoration: none;
  color: var(--accent-color);
}
a:hover{
  text-decoration: underline;
  color: var(--hover-color);
}
.accent-button{
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--accent-color);
  font-weight: 500;
  transition: background-color 150ms ease, color 150ms ease;
}
.accent-button:hover, .accent-button:focus{
  background-color: var(--base-color);
  color: var(--accent-color);
}